@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #ffffff;
  padding: 20px;
}
.navbar ul {
  background-color: #ffffff;
  list-style: none;
}
.navbar ul li {
  background-color: #ffffff;
  font-size: larger;
  display: inline-block;
  padding-right: 10px;
}
/* .main {
  display: inline;
} */
.content {
  background-color: #e3e9ff;
  /* height: 100vh; */
  width: 70%;
  /* display: flex; */
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-left: -4px;
}

.sidebar {
  background-color: #122363;
  height: 100vh;
  width: 20%;
  /* width: fit-content; */
  margin: 0;
  padding: auto;
  /* display: flex; */
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  padding-top: 30px;
  /* padding-bottom: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.card {
  width: 277px;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
}

.product {
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product p {
  margin: 10px 0 0 0;
  width: 100%;
  line-height: 25px;
  font-weight: 400;
}

.product span {
  /* margin: 8px; */
  margin-top: 5px;
  width: 100%;
  line-height: 25px;
  color: #999999;
  font-weight: 800;
}
